# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=biblioteca

# Backend / Database
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION_MS=86400000

# Server
SERVER_PORT=8900